/* RESET BÁSICO*/
* {
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
}
body{
    margin: 0;
    padding: 0;

}
header{
    background-color:#602540;
  
    display: flex;
  align-items: center; /* centraliza verticalmente */
 
  padding-left: 20px; /* opcional, só para não colar na esquerda */
  height: 90px;      
  width: 100%;
  padding-bottom:50px ;
    

    
}
.cabeçalho{
    color:#FF9FC5;
    font-family:'Poppins';
    font-weight: 20;
    
   
}
#herois{
     margin-top:50px;
     font-family:'Poppins';
     font-weight: 100;
     font-size: 30px;
}

.navegador{
   display: flex;
   gap: 20px;
   text-align: right;
   position: absolute;
   margin-top: -30px;
   right: 30px;
   list-style: none;
   font-size: 17px;
   font-family: 'Poppins';
   font-weight: 500;
   
}

nav a {
    text-decoration: none;
   color:#FF9FC5;
   list-style: none;

}
#login{
    font-size: 1,2rem;
    list-style: none;
    background: #e0e0e0;
  padding: 10px 27px;
  border-radius: 20px;
 
  margin-top: 400px;
  text-align: right;
  color:#602540;
}
#bannerimg{
  width: 100%;     /* largura que você quer */
  height: 550px;  
  object-fit: cover; 
  margin-top: 10px;
  margin-left: 10px;
  
}
.main{
  padding:30px;
  padding-top: 10px;
}

    


   
  

 

#imagem1{
    max-width: 30%;
     border-radius: 40%;

}
.cima{
    display: flex;
   align-items: center;  
   gap: 360px; 
     margin-left: 100px; 
    margin-top: 100px; 
}



#imagem2{
    max-width: 46%;
     border-radius: 300px;
      
}


.baixo{
     display: flex;
     align-items: center;   
     gap: 200px; 
     margin-left: 100px; 
     margin-top: 80px;
    
     

}
.textos{
  text-align: justify;
  max-width: 480px;
  background-color: #FF9FC5;
  padding: 16px;
  border-radius: 20px;
  width: fit-content;
  font-weight: 800;
  font-size: 1,7rem;
  font-family:'Montserrat';
}
.titulo{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: 'Poppins';
}
.footer-container{
  background-color: #96305A;
  margin-top: 200px;
  height: 170px;
   align-items: center;
   padding-top: 30px;
  
}
.imagens-footer{
  align-items: center;
  gap:30px;
   display: flex;
   margin: 0 auto;
   justify-content: center;
 margin-top: 20px;
}
.direitos-reservados{
  color: #e0e0e0;
  text-align: center;
  margin-top: 45px;
  font-family: 'Montserrat';
}

/* RESPONSIVIDADE RESPONSIVIDADE RESPONSIVIDADE RESPONSIVIDADE RESPONSIVIDADE RESPONSIVIDADE RESPONSIVIDADE */

@media(width <=1024px){
  .body{
     height: 100%;
  }
  .navegador{
   display: flex;
   gap: 20px;
   text-align: right;
   position: absolute; 
   margin-top: -30px;
    right: 20px;
   list-style: none;
   font-size: 14px;
   font-family: 'Poppins';
   font-weight: 500;
    
   
}
  
  #bannerimg{
  width: 100%;     /* largura que você quer */
  height: 280px;  
  object-fit: cover; 
  margin-top: 7px;
  margin-left: 7px;
  
}
.main{
  padding:10px;
  padding-top: 10px;
  padding-bottom: 0;
  flex: 1;
}

  #imagem1{
    max-width: 36%;
  }
  .cima{
    display: flex;
   /* align-items: center;   */
   gap: 90px; 
    margin-left: 50px; 
    margin-top: 50px;
}
#imagem2{
    max-width: 50%;
     border-radius: 300px;
      
}


.baixo{
     display: flex;
     align-items: center;   
     gap: 30px; 
     margin-left: 40px; 
     margin-top: 60px;
    
     

}
.titulo{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: 'Poppins';
}
.textos{
  text-align: justify;
  max-width: 350px;
  background-color: #FF9FC5;
  padding: 14px;
  border-radius: 20px;
  width: fit-content;
  font-weight: 800;
  font-size: 8px;
  font-family:'Montserrat';
}
.footer-container{
  
 margin-top: 120px;
   background-color: #8b2d5c;
  padding: 15px 0 10px; /* controla a altura */
  text-align: center;
    
}
.imagens-footer{
  align-items: center;
  gap:30px;
   display: flex;
 margin-top: 50px;
}
.direitos-reservados{
  margin: 8px 0 0;
  font-size: 12px;
  color: #f2f2f2;
 
  
}





}
