/* RESET BÁSICO*/
* {
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
}
body{

}
header{
    background-color:#602540;
    
}
.cabeçalho{
    color:#FF9FC5;
    font-family: Arial, Helvetica, sans-serif;
}
.navegador{
   display: flex;
   gap: 20px;
}
#login{
    text-align: right;
}
