/* RESET BÁSICO*/
* {
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
}
body{
    margin: 0;
    padding: 0;

}
header{
    background-color:#602540;
  
    display: flex;
  align-items: center; /* centraliza verticalmente */
  padding-left: 20px; /* opcional, só para não colar na esquerda */
  height: 90px;      
  width: 100%; 
    

    
}
.cabeçalho{
    color:#FF9FC5;
    font-family:'Poppins';
    font-weight: 20;
    
   
}
#cabeçalho.h1{
     margin-top:50px;
     font-family:'Poppins';
     font-weight: lighter;
}

.navegador{
   display: flex;
   gap: 20px;
   text-align: right;
   position: absolute;
   margin-top: -20px;
   right: 60px;
   list-style: none;
   font-size: 17px;
   font-family: 'Poppins';
   font-weight: 500;
   
}

nav a {
    text-decoration: none;
   color:#FF9FC5;
   list-style: none;

}
#login{
    font-size: 1,2rem;
    list-style: none;
    background: #e0e0e0;
  padding: 10px 20px;
  border-radius: 30px;
 
  margin-bottom: 20px;
  text-align: right;
  color:#602540;
}
#bannerimg{
  width: 100%;     /* largura que você quer */
  height: 550px;  
  object-fit: cover; 
  margin-top: 10px;
  margin-left: 10px;
  
}

    


   
  

 

#imagem1{
    max-width: 30%;
     border-radius: 40%;

}
.cima{
    display: flex;
   align-items: center;  
   gap: 330px; 
    margin-left: 100px; 
    margin-top: 100px;
}



#imagem2{
    max-width: 46%;
     border-radius: 300px;
      
}


.baixo{
     display: flex;
     align-items: center;   
     gap: 200px; 
     margin-left: 100px; 
     margin-top: 60px;
    
     

}
.textos{
  text-align: justify;
  max-width: 480px;
  background-color: #FF9FC5;
  padding: 16px;
  border-radius: 20px;
  width: fit-content;
  font-weight: 800;
  font-size: 1,7rem;
  font-family:'Montserrat';
}
.titulo{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-family: 'Poppins';
}
.footer-container{
  background-color: #96305A;
  margin-top: 200px;
  height: 170px;
   align-items: center;
   padding-top: 30px;
  
}
.imagens-footer{
  align-items: center;
  gap:30px;
   display: flex;
   margin: 0 auto;
   justify-content: center;
 margin-top: 20px;
}
.direitos-reservados{
  color: #e0e0e0;
  text-align: center;
  margin-top: 45px;
  font-family: 'Montserrat';
}
