/* RESET BÁSICO*/
* {
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
}
body{
    margin: 0;
    padding: 0;

}
header{
    background-color:#602540;
  
    display: flex;
  align-items: center; /* centraliza verticalmente */
  padding-left: 20px; /* opcional, só para não colar na esquerda */
  height: 90px;      
  width: 100%; 
    

    
}
.cabeçalho{
    color:#FF9FC5;
    font-family: Arial, Helvetica, sans-serif;
   
}
#cabeçalho.h1{
     margin-top:50px;
}

.navegador{
   display: flex;
   gap: 20px;
   text-align: right;
   position: absolute;
   margin-top: -20px;
   right: 60px;
   list-style: none;
   font-size: 17px;
   
}

nav a {
    text-decoration: none;
   color:#FF9FC5;
   list-style: none;

}
#login{
    font-size: 17px;
    list-style: none;
    background: #e0e0e0;
  padding: 10px 20px;
  border-radius: 30px;
 
  margin-bottom: 20px;
  text-align: right;
  color:#602540;
}
#bannerimg{
   width: 100%;     /* largura que você quer */
  height: 550px;  
  object-fit: cover; 
 
  margin-left: 10px;
  margin-top: 10px;
}

    

section{
    padding: 20px;
   
  

 }
  

















#imagem1{
     width: 30%;
     border-radius: 40%;

}
.cima{
    display: flex;
   align-items: center;  /* alinha verticalmente */
  gap: 500px;     
  margin-left: 60px;
}

#imagem2{
     width: 70%;
     border-radius: 300px;
      
}
.baixo{
     display: flex;
     align-items: center;   
     gap: 500px; 
     margin-left: 60px; 
    
     

}
.textos{
    text-align: justify;
    max-width: 400px;
   


   background-color: #FF9FC5;
  padding: 16px;
  border-radius: 20px;
  width: fit-content;
  font-weight: bold;
    

}
/* .main{
  gap:20px;
} */
